{% extends "::layout/layout.html.twig" %}
{% block body %}


    <div class="section no-pad-bot" id="index-banner" style="padding-top: 50px">
        <div class="full-width z-depth-2" style="background-color:white">
            <div class="row justify" style="margin: 40px">
                <h4 class="degrade2 marg-top bold">Mentions légales </h4>
                <p>Nous vous souhaitons la bienvenue sur notre site.</p>
                <p>Nous vous invitons à lire attentivement les présentes Conditions d’Utilisation qui régissent la navigation sur www.rheinbruecke-c.com. En naviguant sur ce site vous acceptez sans réserve les présentes Conditions d’Utilisation. Le cas échéant, vous ne devez pas utiliser ce site.</p>
                <h4>Exploitant du site</h4>
                <ul>
                    <li>Directeur de publication : Thibault Pelletier</li>
                    <li>Mail : info@rheinbruecke-c.com</li>
                    <li>Nom de la société propriétaire du site : Rheinbruecke Consulting</li>
                    <li>Dénomination sociale : Rheinbruecke Consulting</li>
                    <li>Forme : SAS</li>
                    <li>Siège social : 3, Quai Jacques Sturm, 67 000 STRASBOURG</li>
                    <li>Montant du capital social : 55 200 €</li>
                    <li>RCS : 521 125 138</li>
                    <li>N° TVA : FR 42 521 125 138</li>
                </ul>
                <h4>Contact</h4>
                <ul>
                    <li>Mail : contact@rheinbruecke-c.com</li>
                    <li>Tél : +33(0)3 90 00 00 79</li>
                </ul>
                <h4>Hébergement du site</h4>
                <ul>
                    <li>Dénomination sociale : O2SWITCH</li>
                    <li>Forme : SAS</li>
                    <li>Adresse : Siège social : 63000 Clermont-Ferrand - France.</li>
                    <li>Téléphone : +33 (0)4 44 44 60 40</li>
                </ul>
                <h4>Propriété intellectuelle - Droit d'auteur - Copyright</h4>
                <p>L’ensemble du contenu (textes, photographies, illustrations, logos, fichiers disponibles en téléchargement, logiciel, base de données, clips vidéo ou sonores) figurant sur ce site sont la propriété exclusive de Rheinbrücke Consulting . Ces éléments sont protégés au titre de la propriété intellectuelle.
                L'utilisateur n'acquiert qu'un droit d'usage des informations disponibles sur le site www.rheinbruecke-c.com.Ce droit est limité à un usage personnel et privé. L'utilisateur n'acquiert aucun droit de reproduction, sous quelque forme que ce soit si ce n'est celui d'une copie unique destinée à un usage strictement privé et non commercial et sous réserve du respect des droits de propriété intellectuelle.
                Toute utilisation dans un but commercial ou toute diffusion publique est interdite sauf éventuelle autorisation préalable de la société Rheinbrücke Consulting. Toute utilisation non autorisée constitue une contrefaçon et Rheinbrücke Consulting se réserve le droit de poursuivre tout acte de contrefaçon de ses droits de propriété intellectuelle, y compris dans le cadre d’une action pénale.</p>
                <h4>Données personnelles</h4>
                <p>Toute information personnelle que vous serez amené à transmettre à Rheinbrücke Consulting pour l’utilisation de certains services est soumise aux dispositions de la Loi n° 78-17 Informatique et Libertés du 06 janvier 1978.
                Vous disposez d’un droit d’accès, de rectification de suppression des informations personnelles vous concernant, ainsi que la possibilité de vous opposer au traitement de ces données, en effectuant une demande écrite et signée, accompagnée d'une copie du titre d'identité avec signature du titulaire de la pièce, en précisant l'adresse à laquelle la réponse doit être envoyée à l’adresse suivante : info@rheinbruecke-c.com.</p>
                <h4>Destination des informations recueillies</h4>
                <p>Les données vous concernant sont strictement nécessaires à la gestion de vos candidatures dans le cadre de nos offres d’emploi qui ont retenu votre attention.
                Conformément à l'article 27 de la loi française « Informatique et Libertés » n° 78-17 du 6 janvier 1978, les informations qui sont indispensables pour répondre à vos demandes sont mentionnées par un astérisque sur les formulaires de collecte. Les autres informations demandées, pour laquelle la réponse est facultative, sont destinées à mieux vous connaître.
                Pour la gestion de votre inscription à nos offres d’emploi, nous nous engageons à supprimer l’ensemble de vos données dans un délai de deux ans suivant la dernière mise à jour faite par le candidat ou par la société Rheinbrücke Consulting.</p>
                <h4>Responsabilité</h4>
                <p>Les utilisateurs du site Internet s’engagent à respecter les présentes mentions légales et à utiliser le Site Internet sous leur seule et entière responsabilité. L’utilisateur est réputé avoir accepté les présentes mentions légales du simple fait de la consultation du site Internet. Toute consultation du Site Internet emporte acceptation des présentes mentions légales dans leur dernière version.
                Rheinbrücke Consulting ne peut donner aucune garantie ou assurance concernant les informations fournies. Elle ne pourra être tenue responsable des dommages directs ou indirects, tels que notamment préjudice matériels, pertes de données ou de programmes, préjudice commercial ou financier résultant du site ou des informations disponibles sur le site.
                Rheinbrücke Consulting ne garantit pas l'existence ou la disponibilité de toutes les offres mentionnées dans le présent site Internet. Elle ne peut garantir qu’un employeur ou qu’un client demandera des informations concernant un candidat, souhaitera le rencontrer en entretien ou le recrutera ; ni que les candidats seront disponibles ou correspondront aux besoins d'un employeur ou d'un client.</p>
                <h4>Lien vers ou provenant d'autres sites</h4>
                <p>Le site vous propose des liens vers des sites web susceptibles de vous intéresser. Rheinbrücke Consulting n’est pas tenue d’avoir vérifié ou approuvé ces sites ou leurs contenus, ni de garantir que ces liens fonctionnent et sont à jour. Rheinbrücke Consulting décline toute responsabilité quant au contenu de ces sites et l’utilisation de ces liens est sous votre entière responsabilité.
                La mise en place d'un lien hypertexte vers le site www.rheinbruecke-c.com est également possible, mais ce lien doit renvoyer à notre page d’accueil et nécessite une autorisation préalable dont la demande est à adresser à l’adresse suivante : info@rheinbruecke-c.com.</p>
                <h4>Droit applicable et juridiction compétente</h4>
                <p>Le présent site Internet a été créé en France. Par ailleurs, Rheinbrücke Consulting se réserve le droit de mettre à jour les présentes mentions légale à tout moment, notamment afin de respecter toute nouvelle législation et/ou réglementation applicable et/ou afin d’améliorer le Site. Toute modification sera intégrée dans les présentes Conditions d’Utilisation. Par conséquent, Rheinbrücke Consulting invite donc tout utilisateur à visiter cette page lors de chaque consultation du site afin d'en prendre connaissance.
                Tout litige portant sur l'interprétation ou l'exécution d'un engagement contractuel prévu au présent site sera de la compétence exclusive des tribunaux français faisant application de la loi française.</p>
            </div>
        </div>
    </div>



{% endblock %}

