{% extends "::layout/layout.html.twig" %}
{% block body %}
<div class="section no-pad-bot " id="index-banner" style="padding-top: 65px">
    <div class="  full-width z-depth-2">
        <div class="row center">
            <div class="col m12 back-img white">
                <div>
                    <h4 class="gray marg-top bold">{{tip.name}}</h4>
                    <p class="gray marg-top bold">{{tip.description}}</p>
                    <div class="col m12">
                          <img class="responsive-img " src="{{ asset(tip.media.path) }}" alt="placeholder">
                        </div>
                        <div class="col m12 marg-bottom"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}