<div class="comments">
	<h4>Commentaire</h4>
    {% if not offre.commentaires.empty %}
        {%for commentaire in offre.commentaires%}
            {{commentaire.comment}}
        {%endfor%}
    {%endif%}
	<input class="form-control commentaire" type="text" placeholder="Commentaire" id="{{ offre.id }}">
    {#<div class="comment">#}
	<button class="btn waves-effect waves-teal comment" id="{{ offre.id }}">Envoyer</button>
    {#</div>#}
</div>

<script type="text/javascript">
    $(function(){
        $('.comment').on('click', function()
        {
            var id = $(this).attr("id");
            var commentaire = $(".commentaire").val();
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "{{ path('comment') }}",
                cache: false,
                data: { id: id , comment: commentaire},
                success:function(response){
                    $('.comments').replaceWith(response.classifiedList);
                },
                error:function(response){
                    console.log(response);
                }
            });
        });
    });
</script>