/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
body{
    background-color: #e9ebee;
}
.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
.drop-width{
    width: 150px !important;
}

.color-nav-perso{
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
}
.color-a{
    color: #4a4a4a !important;
}
.color-a-fixe{
    color: #ffffff !important;
}
.color-nav-perso-fixe{
    position: fixed;
    background-color: #222D2B;
    color: #ffffff;
}
.nav-perso{
    z-index: 998;
    padding: 10px 0;
    height: 80px;
    transition: .4s;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 82%;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;

}

.position-perso{
    margin-top: -350px;
}
.picto-w{
    width: 100px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 41px !important;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 100% !important;
    width: 94% !important;
    height: 90vh !important;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}



.modal .modal-footer {
    border-radius: 0 0 2px 2px;
    background-color: #fafafa;
    padding: 4px 6px;
    height: 56px;
    width: 100%;
    position: absolute;
    top: 0px;
}
.img-back{
    width: 1890px;
}
.index{
    z-index: -1000!important;
}
.back-img{
    min-height: 400px !important;
}
.full-width{
    margin: 0 auto;
    width: 98%;
    height: auto;
}

.chercher{

    background: url(../img/cherche-emploi.png);
    background-size: cover;
    transition: .4s;
}

.offre{

    background: url(../img/offre-emploi.png);
    background-size: cover;
    transition: .4s;
}
.chercher:hover{

    background: url(../img/recherche-emploi-flou.png);
    background-size: cover;
}

.offre:hover{

    background: url(../img/offre-emploi-flou.png);
    background-size: cover;
}
.picto-recherche{
    width: 20%;
    margin-top: 50px;
}
.bouton:hover{
    color:#222D2B ;
    background:#C2C2C2;
}
.bouton{
    color: #C2C2C2;
    text-align: center;
    transition: .4s;border-radius:20px ;
    width: 25%;
    padding:6px 0 6px 0;
    border:2px solid #C2C2C2;
    margin-left: auto;
    margin-right: auto;
}
.margin-top{
    margin-top: -80px;

}
.justify{
    text-align: justify;
}
.parallax-container {
    height: 653px !important ;
}
.gray{
    color: rgb(56, 56, 56);
}
.marg-top{
    margin-top:50px;
    margin-bottom: 30px;
}

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
    margin-left: auto;
}

.row .col.s5ths {
    width: 20%;
}

@media only screen and (min-width: 601px) {
    .row .col.m5ths {
        width: 20%;
    }
}

@media only screen and (min-width: 993px) {
    .row .col.l5ths {
        width: 18%;
    }
}

@media only screen and (min-width: 1201px) {
    .row .col.xl5ths {
        width: 20%;
    }
}

.color-black{
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left bottom,right top,from(#4f3d50),to(#12cd8c));
}
.font-size{
    font-size: 40px;
}
.padd{
    padding: 0 !important;
}
.padd-bolt{
    color: #e9ebee;
    clear: both;
    padding: 15px 0 10px 0;
}
.img-center{
    margin: 0 auto;
}
.equipe{
    width: 50%;
}
.picto-in{
    width: 20px;
}
.picto-mail{

    margin-bottom: -3px;
    margin-left: 9px;
    width: 20px;
}
.marg{
    margin-top:15px;
}
.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;

}
.marg-footer{
    margin: 16px 0;
}
.espace{
    margin-left: 10px;
}
.mentions, .contact, .rbc{
    transition: .4s;
}

.mentions:hover, .contact:hover, .rbc:hover{
    color: #16a016;
}
.margin-stat{
    margin-top: 32px;
}
blockquote {
    padding-left: 0.5rem !important;
    border-left: 5px solid #4b943e !important;
}
.marg-bottom{
    margin-bottom: 30px;
}
.white-op{
    background: rgba(250,250,250,.8);
}

.bouton3 {
    color: #12cd8c;
    text-align: center;
    transition: .4s;
    border-radius: 20px;
    width: 25%;
    padding: 6px 0 6px 0;
    border: 2px solid #12cd8c;
    margin-left: auto;
    margin-right: auto;
}
.bouton3:hover {
    color: #4f3d50;
    text-align: center;
    transition: .4s;
    border-radius: 20px;
    width: 25%;
    padding: 6px 0 6px 0;
    border: 2px solid #4f3d50;
    margin-left: auto;
    margin-right: auto;
}
.carrer{
    padding: 20px;
}
.taille-p{
    height:  100px;
}
.bottom{
    padding-bottom: 20px!important;
}
/*

    background: -webkit-gradient(linear,left bottom,right top,from(#4f3d50),to(#cd1252));
*/


